body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1e1e2f;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: rgb(177, 46, 46);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

button {
  background: #b8e67e;
  color: rgb(14, 13, 13);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:hover {
  background: #9fd668;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}